<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Créer une marque</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"><i class="material-icons">close</i></md-icon>
                </md-button>
            </div>
        </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-card md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                
                <md-input-container>
                  <label>Nom</label>
                  <input  ng-model="brand_name" required>
                </md-input-container>
                
                <input class="ng-hide" id="input-file-id" multiple type="file" />
                <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>
              
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media">{{image_name}}</div>
            </md-card-title-media>
        </md-card-title>
      </md-card>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Anuller
        </md-button>
        <md-button ng-click="create_new_brand()">
            Créer
        </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>